<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/meta %>

    <title>Tours Admin</title>

    <% include ../../partials/styles %>

</head>

<body class="infobar-overlay">

    <% include ../../partials/header %>

    <div id="wrapper">
        <div id="layout-static">
            <% include ../../partials/left-menu %>
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li class="">
                                <a href="/customer/list">Clientes</a>
                            </li>
                            <li class="active">
                                <a href="#"><%= (!customer._id) ? "Novo" : "Editar" %></a>
                            </li>
                        </ol>
                        <div class="page-heading">
                            <h1><%= (!customer._id) ? "Novo" : "Editar" %> Cliente</h1>
                            <div class="options">
                                <div class="btn-toolbar">
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Dados do Cliente</h2>
                                        </div>
                                        <form id="form-customer" action="/customer" method="post" role="form" class="form-horizontal row-border" data-parsley-validate>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Nome*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="name" name="name" class="form-control" value="<%= customer.name %>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Primeiro Nome*</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="first-name" name="firstName" class="form-control" value="<%= customer.firstName %>" readonly required>
                                                        </div>
                                                        <label class="col-md-2 control-label">Último Nome*</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="last-name" name="lastName" class="form-control" value="<%= customer.lastName %>" readonly required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">CPF</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="identification-number" name="identificationNumber" class="form-control" value="<%= customer.identificationNumber %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">E-mail*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="email" name="email" class="form-control" data-parsley-type="email" value="<%= customer.email %>" equired>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Telefone Principal*</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="phone" name="phone" class="form-control" value="<%= customer.phone %>" required>
                                                        </div>
                                                        <label class="col-md-2 control-label">Telefone Secundário</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="phone-secondary" name="phoneSecondary" class="form-control" value="<%= customer.phoneSecondary %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Código Postal</label>
                                                        <div class="col-md-2">
                                                            <input type="text" id="postal-code" name="postalCode" class="form-control" value="<%= customer.postalCode %>">
                                                        </div>
                                                        <!-- <div class="md-2">
                                                            <a href="#" class="btn btn-default mr10">Pesquisar CEP</a>
                                                            <a href="#" class="btn btn-default">Pesquisar Zipcode</a>
                                                        </div> -->
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Endereço</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address" name="address" class="form-control" value="<%= customer.address %>">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Número</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-number" name="addressNumber" class="form-control" value="<%= customer.addressNumber %>" data-parsley-minlength="1" data-parsley-type="alphanum">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Complemento</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-line2" name="addressLine2" class="form-control" value="<%= customer.addressLine2 %>">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Bairro</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-neighbourhood" name="addressNeighbourhood" class="form-control" value="<%= customer.addressNeighbourhood %>">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Cidade*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="city" name="city" class="form-control" value="<%= customer.city %>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Estado*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="state" name="state" class="form-control" value="<%= customer.state %>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">País*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="country" name="country" class="form-control" value="<%= customer.country %>" required>
                                                        </div>
                                                    </div>
                                                    <input type="text" id="id" name="id" class="hide" value="<%= customer._id %>"/>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-8 col-md-offset-2">
                                                            <button id="btnSave" type="submit" class="btn-success btn">Salvar</button>
                                                            <button id="btnClear" type="button" class="btn-inverse btn">Limpar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ../../partials/footer %>
            </div>
        </div>
    </div>

    <% include ../../partials/right-menu %>

    <% include ../../partials/scripts %>

    <% if(typeof message != 'undefined' && typeof message.type != 'undefined'){ %>
    <script>
        $(document).ready(function(){
            Alerts.displayAlert("<%=message.title%>", "<%=message.message%>", "<%=message.type%>");
        });
    </script>
    <% } %>

    <script src="/assets/plugins/form-parsley/parsley.js"></script>
    <script src="/assets/plugins/form-parsley/i18n/pt-br.js"></script>
    <script src="/assets/plugins/form-parsley/parsley-config.js"></script>
    <script src="/assets/js/pages/customer/customer.js"></script>
</body>

</html>