<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/meta %>

    <title>Tours Admin</title>

    <% include ../../partials/styles %>

</head>

<body class="infobar-overlay">

    <% include ../../partials/header %>

    <div id="wrapper">
        <div id="layout-static">
            <% include ../../partials/left-menu %>
            <div class="static-content-wrapper">
                <div class="static-content">
                    <div class="page-content">
                        <ol class="breadcrumb">
                            <li class="">
                                <a href="/company">Configurações</a>
                            </li>
                            <li class="active">
                                <a href="/company">Empresa</a>
                            </li>
                        </ol>
                        <div class="page-heading">
                            <h1>Empresa</h1>
                            <div class="options">
                                <div class="btn-toolbar">
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2>Dados da Empresa</h2>
                                        </div>
                                        <form action="/company" method="post" role="form" class="form-horizontal row-border" id="form-company" data-parsley-validate>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Nome*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="name" name="name" class="form-control" value="<%=company.name%>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Razão Social*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="corporate-name" name="corporateName" class="form-control" value="<%=company.corporateName%>" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Código Postal</label>
                                                        <div class="col-md-2">
                                                            <input type="text" id="zipcode" name="zipcode" class="form-control" value="<%=company.zipcode%>">
                                                        </div>
                                                        <!-- <div class="md-2">
                                                            <a href="#" class="btn btn-default mr10">Pesquisar CEP</a>
                                                            <a href="#" class="btn btn-default">Pesquisar Zipcode</a>
                                                        </div> -->
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Endereço*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address" name="address" class="form-control" value="<%=company.address%>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Número</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-number" name="addressNumber" class="form-control" value="<%=company.addressNumber%>" data-parsley-minlength="1" data-parsley-type="alphanum">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Complemento</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="address-2" name="addressLine2" class="form-control" value="<%=company.addressLine2%>">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Cidade*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="city" name="city" class="form-control" value="<%=company.city%>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Estado*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="state" name="state" class="form-control" value="<%=company.state%>" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">País*</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="country" name="country" class="form-control" value="<%=company.country%>" required>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">E-mail*</label>
                                                        <div class="col-md-8">
                                                            <input type="email" id="email" name="email" class="form-control" value="<%=company.email%>" data-parsley-type="email" required>
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Telefone Principal*</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="phone" name="phone" class="form-control" value="<%=company.phone%>" required>
                                                        </div>
                                                        <label class="col-md-2 control-label">Telefone Secundário</label>
                                                        <div class="col-md-3">
                                                            <input type="text" id="phone-secondary" name="phoneSecondary" class="form-control" value="<%=company.phoneSecondary%>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label class="col-md-2 control-label">Site</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="website" name="website" class="form-control" value="<%=company.website%>" data-parsley-type="url">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Facebook</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="facebook" name="facebook" class="form-control" value="<%=company.facebook%>" data-parsley-type="url">
                                                        </div>
                                                    </div>
                                                    <div class="row mt20">
                                                        <label class="col-md-2 control-label">Instagram</label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="instagram" name="instagram" class="form-control" value="<%=company.instagram%>" data-parsley-type="url">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-8 col-md-offset-2">
                                                            <button id="btnSave" type="submit" class="btn-success btn">Salvar</button>
                                                            <button id="btnClear" type="button" class="btn-inverse btn">Limpar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% include ../../partials/footer %>
            </div>
        </div>
    </div>

    <% include ../../partials/right-menu %>

    <% include ../../partials/scripts %>

    <script src="assets/plugins/form-parsley/parsley.js"></script>
    <script src="assets/plugins/form-parsley/i18n/pt-br.js"></script>
    <script src="assets/plugins/form-parsley/parsley-config.js"></script>
    <script src="assets/pages/company/company.js"></script>

    <% if(typeof message != 'undefined' && typeof message.type != 'undefined'){ %>
    <script>
        $(document).ready(function(){
            Alerts.displayAlert("<%=message.title%>", "<%=message.message%>", "<%=message.type%>");
        });
    </script>
    <% } %>
</body>

</html>